<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="CacheSize" value="5000"/>
    <add key="CacheExpireTimeSpan" value="1.00:00:00"/>
    
		<!-- below settings for Crawler -->
		<add key="ProxyServer" value=""/>
    <add key="ProxyBypassOnLocal" value="true"/>
		<add key="CrawlerMaxQueuedJob" value="50000"/>
		<add key="CrawlerMaxConcurrentJob" value="5"/>
		<add key="CrawlerEnableTpsControl" value="true"/>
		<!-- TPS control -->
		<add key="CrawlerTps" value="8"/>
		<add key="CrawlerAsyncTimeout" value="180000"/>
		<add key="CrawlerSyncTimeout" value="180000"/>
		
		<!-- to use snippet cache server, replace below url before ? (question mark) to
			  http://snippetcacheserver/somepath/SnippetHandler.ashx -->
		<add key="MsnSearch_En" value="http://search.msn.com/infosp.aspx?q=&quot;%s&quot;&amp;count=50&amp;FORM=MNSHOT;group=snippet" />

		
		<!-- below settings for MsnSnippetGather -->
		<add key="MsnProxyServer" value=""/>
    <add key="MsnProxyBypassOnLocal" value="true"/>
		<!-- to use snippet cache server, replace below url to 
			  http://snippetcacheserver/somepath/SnippetHandler.ashx-->
		<add key="MsnWebServiceUrl" value="http://api.bing.net:80/soap.asmx"/>
		<!-- AppID required by Live Search Web Service -->
		<add key="AppID" value="67C2363425B169EE6ECD80C8AFD7C1F2387A8A47"/>
		<add key="MsnMaxQueuedJob" value="50000"/>
		<add key="MsnMaxConcurrentJob" value="5"/>
		<add key="MsnEnableTpsControl" value="false"/>
		<!-- TPS control -->
		<add key="MsnTps" value="8"/>
		<add key="MsnAsyncTimeout" value="180000"/>
		<add key="MsnSyncTimeout" value="180000"/>
		
		
		<!-- Max number of concurrent connections -->
		<add key="ConnectionLimit" value="50"/>
	</appSettings>
</configuration>
